<%- include("partials/header") -%>

<div class="events-wrapper">
    <div class="conatiner">
        <div class="events">
            <img src="https://cdn-icons.flaticon.com/png/512/3594/premium/3594724.png?token=exp=1657901881~hmac=bf877cc715812d9aa365b6a9dce11097" alt="">
            <h1>Under Maintenance</h1>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>